<%= Gon::Base.render_data %>
<div class="row">
  <div class="col-6 col-sm-3">
    <input type="button" value="過去1週間" id="a-week-button" class="btn btn-success btn-block mt-3">
  </div>
  <div class="col-6 col-sm-3">
    <input type="button" value="過去2週間" id="two-weeks-button" class="btn btn-success btn-block mt-3">
  </div>
  <div class="col-6 col-sm-3">
    <input type="button" value="過去1ヶ月" id="a-month-button" class="btn btn-success btn-block mt-3">
  </div>
  <div class="col-6 col-sm-3">
    <input type="button" value="過去3ヶ月" id="three-months-button" class="btn btn-success btn-block mt-3">
  </div>
</div>
<canvas id="chart-weight" class="mt-5"></canvas>